# Ignore artifacts:
dist

.husky

node_modules

coverage
bin
**/*.svg
LICENSE

Dockerfile
helm/templates
.gitignore
Makefile
.env
.env.sample
.eslintignore

.prettierignore

.secrets.baseline

.dockerignore

.editorconfig

package-lock.json

